.const {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}

.headTop {
	width: 100%;
	height: 80px;
	border: 1px dashed #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.headpadd {
	padding: 14px 48px;
	background: rgb(255, 187, 50);
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	border-radius: 3px;
}

.buttonHead {
	width: 98%;
	height: 90%;
	text-align: center;
	line-height: 45px;
	font-size: 24px;
	border-radius: 2px;
	color: #fff;
	font-weight: 600;
	background: rgb(205, 93, 91);
}

.chest {
	width: 100%;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.leftChest {
	width: 48%;
	height: 180px;
	border: 1px dashed #000;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 10px;
}

.rightChest {
	width: 46%;
	height: 170px;
	border: 1px dashed #000;
	display: flex;
	flex-wrap: wrap;
	padding: 15px 10px;
}

.chestText {
	padding: 10px 22px;
	background: rgb(47, 128, 35);
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	margin: 3px 2px;
}

.chestLeft {
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	background: rgb(30, 160, 240);
	width: 120px;
	height: 40px;
	border-radius: 2px;
	text-align: center;
	line-height: 40px;
}

.chestRight {
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	background: rgb(30, 160, 240);
	width: 300px;
	height: 40px;
	border-radius: 2px;
	text-align: center;
	line-height: 40px;
	margin-left: 30px;
}

.leg {
	width: 100%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.legOne {
	width: 120px;
	height: 100%;
	border: 1px dashed #000;
	margin-right: 30px;
	position: relative;
}

.legOneCon {
	width: 260px;
	height: 70px;
	background: rgb(235, 125, 60);
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	line-height: 70px;
	text-align: center;
	transform: rotate(90deg);
	position: absolute;
	top: 115px;
	left: -70px;
}

.legTwo {
	width: 320px;
	height: 260px;
	border: 1px dashed #000;
	margin-right: 20px;
	padding: 20px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.legTwoTop {
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	background: rgb(70, 120, 180);
	text-align: center;
	padding: 30px 50px;
}

.legTwoLeft {
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	background: rgb(70, 120, 180);
	text-align: center;
	padding: 30px 10px;
	width: 125px;
}

.etcd {
	width: 100%;
	height: 46%;
	border: 1px dashed #000;
}

.styleS {
	width: 150px;
	height: 300px;
	padding: 0;
	border: #fff;
	align-items: flex-start;
}

.etcdText {
	width: 50%;
	height: 30%;
	margin: 20px auto;
	background: rgb(240, 115, 50);
	font-weight: 600;
	color: #fff;
	font-size: 35px;
	text-align: center;
	padding: 30px 20px;
}

.legTwochang {
	width: 100%;
	height: 50px;
	background: rgb(122, 178, 91);
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
}

.legTwoduan {
	width: 46%;
}

.top {
	width: 100%;
	height: 120px;
	margin-top: 15px;
}

.topTop {
	width: 100%;
	height: 10px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.topTopBack {
	width: 40px;
	height: 10px;
	background: rgb(122, 122, 122);
	border-radius: 2px;
}

.topLeft {
	width: 100%;
	height: 95%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.topLeftCon {
	width: 150px;
	height: 40px;
	font-weight: 600;
	color: #fff;
	font-size: 22px;
	background: rgb(50, 140, 37);
	border-radius: 2px;
	text-align: center;
	line-height: 40px;
}

.backTop {
	width: 490px;
	background: rgb(120, 120, 120);
}