.header {
  height: 55px;
  display: flex;
  border: 2px dashed;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.header-item {
  width: 150px;
  height: 35px;
  background: orange;
  line-height: 35px;
  color: white;
  font-size: 17px;
}

.header-small {
  width: 100px;
}
